body {
    background: radial-gradient(rgb(220, 253, 226), #feffdc);
    width: 100%;
    height: 100%;
}
/*-----*/
.p-top {
    text-align: center;
    position: fixed;
    bottom: 16px;
    right: 16px;
}
.p-top button {
    border-radius: 50%;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
}
.p-top:hover {
    opacity: 0.75;
}
/*-----*/
header {
    width: 100%;
    z-index: 9999;

}

a {
    color: rgb(0, 4, 221);
}

nav a {
    color: white;
}

a:hover {
    color: rgb(255, 151, 92);
}
/*-----*/
@media (min-width: 1280px) {
   
    .text {
        display: flex;
        margin-left: 10px;
    }
    .main_text{
        display: inline-block;
        font-size: 20px;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .main_text b{
        font-size: 24px;
    }
    #top-img {
        height: auto;
        max-width: 59%;
        margin-left: 10px;
        float:left;    
        padding-right: 15px;
    }
    .box30 {
        max-width:40%;
        font-weight: bold;
        float:right;
        padding-right: 15px;
    }
}

@media (max-width: 1279px) {
    .text {
        display: inline-block;
        margin-left: 10px;
    }
    .main_text{
        font-size: 20px;
        text-shadow: 2px 2px 3px rgb(0, 0, 0);
        margin-left: 10px;        
        margin-bottom: 10px;
    }
    .main_text b{
        font-size: 24px;
    }
    #top-img {
        height: auto;
        max-width: 100%;
        margin-left: 10px;
        padding-right: 15px;
    }
    .box30 {
        max-width:100%;
        font-weight: bold;
        padding-right: 15px;
        margin-bottom:50px;
    }
    #company img{
        width:500px;
    }
}
/*-----*/
.title {
    background-color: #cbf3f8;
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 15px 15px;
    box-shadow: 2px 2px 4px -2px gray;
    font-family: 'HG正楷書体-PRO', cursive;
}

.bg-sample {
    background-image: url(../img/top.jpg);
    background-size: 100%;
    min-height: 300px;
    margin-top: -70px;
}
#home-img{
    background-image: url(img/top.jpg);
}
#navL {
    background-color: #aece6d;
    width: 200px;
    height: 100vh;
    float: left;
    position: absolute;
}

#navL.fixed {
    position: fixed;
    top: 0;
}

#ref {
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom:75px;
}

.rightbody {
    padding-left: 190px;
}

.top_page{
    margin-left: 10px;
    margin-right:10px;
}

#head_text {
    color: white;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 46, 0, 0.63);
}

.ref_img {
    width: 500px;
}

nav li {
    text-shadow: 2px 2px 5px rgb(16, 66, 0);
}
.box31{
    
    margin-right: 50px;
    max-width:1000px;
}
#company{
    display:block;
    font-weight: bold;
}
.box30 .box-title {
    font-size: 1.2em;
    background: #f5645f;
    padding: 4px;
    text-align: center;
    color: #FFF;
    letter-spacing: 0.05em;
    border-radius: 10px 10px 0 0/10px 10px 0 0;
}
.box-title2{
    font-size: 1.5em;
    background: #cbd9f8;
    padding: 4px;
    padding-left:10px;
    text-align: left;
    color: black;
    text-shadow: 0 2px 4px rgb(182, 182, 182);
    letter-spacing: 0.05em;    
    border-radius:  0 10px 0 0/0 10px 0 0;
    font-family: 'HG正楷書体-PRO', cursive;
}
.box-title2 a{
    color:black;
}
.box-title2 a:hover, p a{
    color:navy;
}
.box30 p, .box31 p {
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    padding: 15px 20px;
    margin-bottom: 10px;
    color:black;
    text-shadow: none;
    border-radius:  0 0 10px 0 / 0 0 10px 0;
}
.box30 p{
    border-radius:  0 0 10px 10px / 0 0 10px 10px;
}


#bottom_text{
    background-color: white;
    border-radius: 10px;
    margin-top:100px;
    text-shadow: none;
    text-align: left;
}

.left-s {
    text-align: left;
    position: fixed;
    margin: 2em 0 2em 40px;
    padding: 8px 15px;
    left: 200px;
    bottom:3px;
    background: #f8d164;
    border-radius: 30px;
    max-width:600px;
    font-size:20px;
    box-shadow:0 10px 4px rgba(0, 0, 0, 0.22);
}
#small{
    margin: 1em 0 2em 40px;
    width:10px;
    height:10px;
    border-radius: 50%;
    position:fixed;
    left: 125px;
    bottom:50px;
    background-color: #f8d164;
    box-shadow:0 10px 4px rgba(0, 0, 0, 0.22);
}
#mid{
    margin: 1.5em 0 2em 40px;
    width:15px;
    height:15px;
    border-radius: 50%;
    position:fixed;
    left: 145px;
    bottom:40px;
    background-color: #f8d164;
    box-shadow:0 10px 4px rgba(0, 0, 0, 0.22);
}
#big{
    margin: 1.5em 0 2em 40px;
    width:23px;
    height:23px;
    border-radius: 50%;
    position: fixed;
    left: 170px;
    bottom:30px;
    background-color: #f8d164;
    box-shadow:0 10px 4px rgba(0, 0, 0, 0.22);
}

.left-s p {
    margin: 0; 
    padding: 0;
}

#batu:hover{
color:red;
}

.comp_pic{
    max-width:900px;
    padding-bottom:20px;
}

.foot-block{
    background-color: rgb(255, 214, 214);
    height:80px;
    width:100%;
    text-align: center;
    padding-top:50px;
}

#home{
    width:100.7%;
}

#slide-com{
    font-size: 15px;
    text-shadow: none;
}